{% extends "base.html" %}
{% block content%}
{% with messages = get_flashed_messages() %}
<form enctype="multipart/form-data" method="POST" class="container">
    <div class="form-group">
        <input type="text" maxlength="20" class="form-control" name="username" id="inputUsername" placeholder="Username">
    </div>

    <div class="custom-file">
        <input type="file" class="custom-file-input" name="file" id="inputFile" required>
        <label for="inputFile" class="custom-file-label text-truncate" id="inputFileLabel">Choose ebook</label>

        {% if messages %}
            <small class="form-text">{{ messages[0] }}</small>
        {% endif %}

    </div>

    <div class="row">
        <button type="submit" class="btn btn-dark upload-btn" value="">SUBMIT</button>
    </div>

</form>
<script>
    $('#inputFile').onchange = () => {
        let files = $('#inputFile').files
        $('#inputFileLabel').innerText = (files.length === 0) ? 'Choose ebook' : files[0].name
    }
</script>
{% endwith %}
{% endblock %}